@import "../../styles/colors";

.room-details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 70px;

  &__titles{
    font-family: "Montserrat Bold", sans-serif;
    color: $dark-shade-100;
    font-size: 19px;
    line-height: 23px;
    align-self: flex-start;
    display: flex;
    margin-bottom: 10px;

    &-lite{
      font-family: "Montserrat Regular", sans-serif;
      color: $dark-shade-50;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      margin-left: auto;
    }
  }

  &__advantages {
    margin-right: 80px;

  }

  &__container{
    display: flex;
    max-width: 708px;
    margin-top: 70px;

  }

  &__info{
    display: flex;
    flex-wrap: wrap;
  }

  &__donut{
    height: 160px;
    max-width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__registration{
    width: 380px;
    height: 511px;
    color:gray;
  }

  &__comments{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__bullet-list{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-right: 70px;

  }

  &__detail{
    max-width: 341px;
  }

  &__text{
    margin-top: 15px;
    font-family: "Montserrat Regular", sans-serif;
    color: $dark-shade-50;
    font-size: 14px;
    line-height: 24px;
  }
}