@import "src/styles/colors";

.type{
  display: flex;
  margin-bottom: 51px;

  &__size-h1{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-right: 30px;
    color: $dark-shade-25;
    width: 37px;
    text-align: right;
  }

  &__size-h2{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    margin-right: 30px;
    width: 37px;
    color:$dark-shade-25;
  }

  &__size-h3{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    margin-right: 30px;
    width: 37px;
    color:$dark-shade-25;
  }

  &__size-body{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    margin-right: 30px;
    min-width: 37px;
    color:$dark-shade-25;
  }

  &__text-h1 {
    max-width: 369px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: $dark-shade-100;
  }

  &__text-h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: $dark-shade-100;
  }

  &__text-h3 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: $dark-shade-100;
  }

  &__text-body {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
  }
}