mixin text-field({placeholder, type})

    - let classes = ['forms']
    if(placeholder === "ДД.ММ.ГГГГ")
        - classes.push('js-masked')
    input(class=classes placeholder=placeholder type=type)