mixin radio-btn({items})

    .radio
        each item in items
            label.radio__label
                input.radio__input(type="radio" name=item.name checked=item.checked)
                .radio__text= item.label