mixin radio-btn()

    form
        p
            input(name='gender' type='radio' value='man')
            label(for='radio') мужчина
        p
            input(name='gender' type='radio' value='woman')
            |  женщина