@import "../../styles/colors";

.price{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $dark-shade-10;
  padding-bottom: 10px;

  &__room-number{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade-100;
  }

  &__price{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $dark-shade-50;
    display: flex;

    &-day{
      font-family: "Montserrat Regular", sans-serif;
    }
  }

  &__text{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    display: inline-block;
  }


}