extends ../main-ui-layout/main-ui-layout

include ../../blocks/logo/logo

block content

    .form-elements__logo
        +logo

    .form-elements
        .form-elements__box
        .form-elements__box
        .form-elements__box

