.header{
  margin: 0;
}

.reg__card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 684px;
  background-image: url("img/reg-background.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  margin: 0;
}