include ../btn-text/btn-text
mixin dropdown ({result, items, quantity, btn})

    .dropdown
        .dropdown-itog
            .dropdown-itog-text= result
            .dropdown-row expand_more
        .dropdown-items
            -for (let i = 0; i < items.length; i++)
                .dropdown-item
                    .dropdown-item-name= items[i]
                    .dropdown-item-nav
                        button.dropdown-item-minus -
                        .dropdown-item-quantity= quantity[i]
                        button.dropdown-item-plus +
            -if(btn)
                .dropdown-option
                    +btn-text({text: "Очистить"})
                    +btn-text({text: "Применить"})