mixin dropdown ()

    .container
        .itog eeeeeeeee, eeeeeee,
        .itms
            .item
                .name name1
                button.pl +
                .colvo 2
                button.mn -
            .item(data-name='name2')
                .name name2
                button.pl +
                .colvo 4
                button.mn -
            .item
                .name name3
                button.pl +
                .colvo 6
                button.mn -
        .options
            button.clear Clear
            button.prim Prim
