extends ../main-ui-layout/main-ui-layout

include ../../blocks/logo/logo
include ../../blocks/headers/headers

block header
    .heares-footers
        .ui-logo
            +logo
        .header
             +headers({links: ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"], type: false})
        .header
            +headers({links: ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"], type: true, name: "Юлий Цезарь"})

