@import "../../styles/colors";

.heares-footers{
  //background: #E5E5E5;
  transform: z-index -5;

}

.ui-logo{
  margin-left: 30px;
  margin-bottom: 62px;
  padding-top: 30px;
}
.main-logo__box{
  margin-bottom: 50px;
}