extends ../main-ui-layout/main-ui-layout

include ../../blocks/logo/logo
include ../../blocks/headers/headers

block header
    .heares-footers
        .ui-logo
            +logo
        .header
            .main-logo__box
                +headers

