@import "../../styles/colors";

@mixin size{
  margin-right: 40px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 6px;
}

.color__box{
  display: flex;
  margin-bottom: 20px;
  width: 281px;
}

.color__color-100{
  @include size;
  background-color: $dark-shade-100;

}

.color__color-75{
  @include size;
  background-color: $dark-shade-75;
}

.color__color-50{
  @include size;
  background-color: $dark-shade-50;
}

.color__color-25{
  @include size;
  background-color: $dark-shade-25;
}

.color__color-5{
  @include size;
  background-color: $dark-shade-5;
}

.color__color-purple{
  @include size;
  background-color: $purple;
}

.color__color-green{
  @include size;
  background-color: $green;
}

.color__text-name{
  font-family: "Montserrat Bold", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: $dark-shade-100;
}

.color__text-code{
  font-family: "Montserrat Regular", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: $dark-shade-100;

}