include ../like-button/like-button
include ../prof/prof

mixin comment({text, name, date, check, count, img})

    .comment
        .comment__prof
            +prof({name: name, date: date, img: img})
        .comment__content
            .comment__reiting
                +like-button({check: check, count: count})
            .comment__text= text