mixin advantages({icon, title, text})

    .advantage
        .advantage__icon= icon
        .advantage__text
            .advantage__text-zag= title
            .advantage__text-op= text
        .advantage__br