mixin advantages({icon, title, text, border})

    .advantage
        .advantage__icon= icon
        .advantage__content
            .advantage__title= title
            .advantage__text= text
        if(border)
            .advantage__br
