mixin advantages({icon, title, text})

    .advantage
        .advantage__icon= icon
        .advantage__content
            .advantage__title= title
            .advantage__text= text
        .advantage__br