@import "../../styles/colors";

.login-card{
  width: 380px;
  height: 358px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: white;

  &__container{
    width: 320px;

  }

  &__title{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: $dark-shade-100;
    margin-bottom: 20px;
  }

  &__text-field{
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 20px;
    }
  }

  &__login-btn{
    margin-bottom: 30px;
  }

  &__create-accaunt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__create-text{
    font-family: "Montserrat Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: black;
  }

  &__create-btn{
    width: 99px;
    height: 44px;
    margin-right: 3px;
    position: absolute;
    z-index: 9999;
    right: 0;
  }

}