extends ../main-ui-layout/main-ui-layout

include ../../blocks/login-card/login-card
include ../../blocks/registration-card/registration-card
include ../../blocks/preview-card/preview-card
include ../../blocks/datepicker/datepicker

block content

    .cards
        .cards-login
            +login-card
        .cards-registration
            +registration-card
        .cards-preview
            +preview-card({items:[{price: "9 990₽", reviews: "145", rating: [true, true, true, true, true],
                    img: "1", nav: true, circles:[true, false, false, false], text: "люкс", number: "№ 888"}]})
            +preview-card({items:[{price: "9 990₽", reviews: "65", rating: [true, true, true, true, false],
                    img: "2", nav: false, circles:[true, false, false, false], number: "№ 840"}]})
            +datepicker