extends ../main-ui-layout/main-ui-layout

include ../../blocks/login-card/login-card
include ../../blocks/registration-card/registration-card



block content

    .cards
        .cards-login
            +login-card
        .cards-registration
            +registration-card