@import "../../styles/colors";

.btn-transparent{
  display: inline-block;
  position: relative;
  height: 90%;
  margin: 2px;
  padding: 0 18px;


  font-family: "Montserrat Bold", sans-serif;
  color: $purple;
  text-transform: uppercase;

  font-size: 12px;
  line-height: 15px;

  border: none;
  outline: none;
  border-radius: 22px;

  cursor: pointer;
  user-select: none;
  background-color: $white;

  &::after {
    display: inherit;
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    border-radius: 22px;
    background-image: $gradient;


  }
  &:hover:after{
    background: $gradient-25;
  }
  &:focus:after{
    background: $gradient-25;
  }
}