include ../rate-button/rate-button
include ../room-img/room-img

mixin preview-card({price, reviews, rating  })



    .preview-card
        +room-img({img: "1", nav: true, circles:[true, false, false, false]})
        .preview-card__content
            .preview-card__container
                .preview-card__description
                    .preview-card__number= "№ 888"
                    .preview-card__price= price
                        p.preview-card__price-day
                            | &nbsp;в сутки
                .preview-card__rating
                    .preview-card__star
                        +rate-button({check: rating})
                    .preview-card__reviews-count= reviews
                        p.preview-card__reviews-count--lite
                            |&nbsp;Отзывов