@import "../../styles/colors";

.bullet-list{
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
  position: relative;
  margin: 5px 20px;

  &:before{
    content: "";
    border-radius: 100%;
    width: 10.43px;
    height: 10px;
    background-color:$dark-shade-25;
    position: absolute;
    top: 7px;
    left: -20px;
    z-index: 1;
  }
}
